<mat-expansion-panel [expanded]="uploading.length > 0">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Uploading
    </mat-panel-title>
  </mat-expansion-panel-header>

  <p *ngFor="let fileName of uploading">
    {{ fileName }}
  </p>
  <p *ngIf="uploading.length === 0">
    No files are uploading
  </p>
</mat-expansion-panel>

<br />

<mat-expansion-panel [expanded]="downloading.length > 0">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Downloading
    </mat-panel-title>
  </mat-expansion-panel-header>

  <p *ngFor="let fileName of downloading">
    {{ fileName }}
  </p>
  <p *ngIf="downloading.length === 0">
    No files are downloading.
  </p>
</mat-expansion-panel>

<br />

<mat-expansion-panel [expanded]="deleting.length > 0">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Deleting
    </mat-panel-title>
  </mat-expansion-panel-header>

  <p *ngFor="let fileName of deleting">
    {{ fileName }}
  </p>
  <p *ngIf="deleting.length === 0">
    No files are being deleted.
  </p>
</mat-expansion-panel>
