#sidenav-container {
  height: 100%;
}

#sidenav {
  width: 15rem;
  margin-right: 1rem !important;

  .sidenav-content-container {
    padding: 1rem;
    button {
      box-sizing: content-box;
      width: 8rem;
    }
  }
}
